<app-navbar
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-navbar>
<app-hero
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-hero>
<app-summary
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-summary>
<app-snippets
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-snippets>
<app-features
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-features>
<app-stats
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-stats>
<app-integrations
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-integrations>
<app-customers
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-customers>
<app-contact
  appObserveElement
  hiddenClass="section"
  visibleClass="section-visible"
></app-contact>
