<app-navbar></app-navbar>
<app-hero
  class="section"
  appIntersectionElement
  (isIntersected)="updateSectionVisibility('hero', $event)"
  [ngClass]="{ 'section--visible': elements['hero'] }"
></app-hero>
<app-summary
  class="section"
  appIntersectionElement
  (isIntersected)="updateSectionVisibility('summary', $event)"
  [ngClass]="{ 'section--visible': elements['summary'] }"
></app-summary>
<app-snippets
  class="section"
  appIntersectionElement
  (isIntersected)="updateSectionVisibility('snippets', $event)"
  [ngClass]="{ 'section--visible': elements['snippets'] }"
></app-snippets>
<app-features
  class="section"
  appIntersectionElement
  (isIntersected)="updateSectionVisibility('features', $event)"
  [ngClass]="{ 'section--visible': elements['features'] }"
></app-features>
<app-stats
  class="section"
  appIntersectionElement
  (isIntersected)="updateSectionVisibility('stats', $event)"
  [ngClass]="{ 'section--visible': elements['stats'] }"
></app-stats>
<app-integrations
  class="section"
  appIntersectionElement
  (isIntersected)="updateSectionVisibility('integrations', $event)"
  [ngClass]="{ 'section--visible': elements['integrations'] }"
></app-integrations>
<app-customers
  class="section"
  appIntersectionElement
  (isIntersected)="updateSectionVisibility('customers', $event)"
  [ngClass]="{ 'section--visible': elements['customers'] }"
></app-customers>
<app-contact
  class="section"
  appIntersectionElement
  (isIntersected)="updateSectionVisibility('contact', $event)"
  [ngClass]="{ 'section--visible': elements['contacts'] }"
></app-contact>
