/* You can add global styles to this file, and also import other style files */
@import "scss/vars";
@import "scss/typography";
@import "scss/base";
@import "scss/layout";
@import "scss/animate";

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

html {
  scroll-behavior: smooth;
}

.section {
  opacity: 0;
  transition: opacity 500ms ease-out 200ms;
}

.section--visible {
  opacity: 1;
}
